BODY {
	SCROLLBAR-FACE-COLOR: #CFCFCF; SCROLLBAR-HIGHLIGHT-COLOR: #CFCFCF; SCROLLBAR-SHADOW-COLOR: #CFCFCF; SCROLLBAR-3DLIGHT-COLOR: #F1F1F1; SCROLLBAR-ARROW-COLOR: #F1F1F1; SCROLLBAR-TRACK-COLOR: #F1F1F1; SCROLLBAR-DARKSHADOW-COLOR: #F1F1F1
}
.bar1 {
	font-family: "ו";
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.title01 {
	font-family: "ו";
	font-size: 14px;
	color: #CC0000;
	text-decoration: none;
	line-height: 20px;
	font-weight: bolder;


}
.title02 {
	font-family: "ו";
	font-size: 12px;
	line-height: 20px;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
}
.p1 {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-indent: 24pt;
	font-weight: lighter;

}
a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;

}
a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;

}
a:active {
	color: #FF0000;
	font-size: 12px;
	text-decoration: none;


}
a:hover {
	color: #FF0000;
	font-size: 12px;
	text-decoration: none;


}
