.content {  font-size: 13px; font-style: normal; line-height: 20px; text-decoration: none}
A:link { font-size: 10pt;COLOR: #0000FF; TEXT-DECORATION: none; line-height: 15px}
A:visited { font-size: 10pt;COLOR: #0000FF;TEXT-DECORATION: none; line-height: 15px}
A:hover { font-size: 10pt;COLOR: #cc0000; TEXT-DECORATION: none; line-height: 15px}
